// device type

$mobile-lesser: 767px;
$mobile-upper: 768px;
$table-lesser: 1279px;
$table-upper: 1280px;

// color

$basic: #000000;
$accent: #ff6b09;
$modalbgc: #f5f6fb;
$backdropbgc: rgba(0, 0, 0, 0.7);
$modalcardbgc: #ffffff;
