@import './style/utils/normalize';
@import './style/utils/variables';
@import './style/components/basic';
@import './style/components/add_modal';
@import './style/components/header';
@import './style/components/prod_card';
@import './style/components/footer';
@import "./style/components/auth_modal";
@import './style/components/my_calls';
@import './style/slick/slick';
@import './style/slick/slick-theme';
@import './style/components/sliderStyle'
@import "./style/components/category";

